.loader{
    height: 200px;
    width: 200px;
    border: 20px solid #f89b29;
    border-top:20px solid #ff0f7b;
    border-radius: 50%;
    animation: loaderAnimate 1s ease-in-out 0s infinite normal;
   



    
}
@keyframes loaderAnimate{
    from{
        transform: rotate(0deg);

    }to{
        transform: rotate(360deg);
    }
    
}